<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.4.0" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.4.10" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.BootstrapIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.BoxIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.CircumIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Codicons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Coolicons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Core" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Entypo" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.EvaIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.FeatherIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.FileIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Fontaudio" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.FontAwesome" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Fontisto" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.ForkAwesome" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.GameIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Ionicons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.JamIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Lucide" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Material" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MaterialDesign" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MaterialLight" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MemoryIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Microns" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Modern" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Octicons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.PhosphorIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.PicolIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.PixelartIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.RadixIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.RemixIcon" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.RPGAwesome" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.SimpleIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Typicons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Unicons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.VaadinIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.WeatherIcons" version="5.0.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Zondicons" version="5.0.0" targetFramework="net48" />
  <package id="MaterialDesignColors" version="3.1.0" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="5.1.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
</packages>